<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real TIme app</title>
</head>
<body>
    <h1>Write here the url</h1>

      <input id="btn" type="text" />
      <button onclick="send()">Send</button>

        <script>

            const socket = new WebSocket('ws://'+ window.location.host +'/ws/chat/'+roomName+'/');

            function send(){
                var teste = document.getElementById('btn').value;
                console.log(teste)
                location.href=teste+'/'

            }
        </script>

</body>
</html